<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="ece.np.edu.jamie_project_s10204749k">
    <!-- Flutter needs it to communicate with the running application
         to allow setting breakpoints, to provide hot reload, etc.
    -->
    <uses-permission android:name="android.permission.INTERNET"/>
</manifest>
